{% extends 'front-layout.html.twig' %}

{% block body %}
    <h1> {{ titleGame }} </h1>

    <br>

    <section class="games">
        {% for jeux in gameR %}
            <h3> {{ jeux.date }} </h3>
            <table class="table table-hover">
                <tbody>
                <tr class="table-dark">
                    <th scope="row">Nom</th>
                    <td> {{ jeux.name }} </td>
                    <td rowspan="3" valign="middle" align="center">
                        <a href="{{ path('game_user_show', {'id': jeux.id}) }}" class="btn btn-outline-info"> Voir plus </a>
                    </td>
                </tr>
                <tr class="table-dark">
                    <th scope="row">Plateforme</th>
                    <td> {{ jeux.platform }} </td>
                </tr>
                <tr class="table-dark">
                    <th scope="row" valign="middle">Couverture</th>
                    <td> <img src="{{ jeux.image }}" style="width: 10%; heigth: auto;"></image> </td>
                </tr>
                </tbody>
            </table>
        {% endfor %}
    </section>

{% endblock %}

