{% extends 'back-layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<section>
    <h1> {{ title }} </h1>

    {{ form_start(form) }}
        {{ form_row(form.name, { 
            label: 'Nom du jeu',
                'attr': {
                    'placeholder': 'Nom du jeu...'
                }
            })  
        }}

        <br>

        {{ form_row(form.platform, {
            label: 'Plateforme (PC, XBOX, etc...)',
                'attr': {
                    'placeholder': 'Plateforme...'
                }
            }) 
        }}

        <br>

        {{ form_row(form.content, {
            label: 'Description du jeu',
                'attr': {
                    'placeholder': 'Description...'
                }
            }) 
        }}

        <br>

        {{ form_row(form.image, {
            label: 'URL de l\'image',
                'attr': {
                    'placeholder': 'URL de l\'image...'
                }
            }) 
        }}

        <br>

        {{ form_row(form.video, {
            label: 'Code source de la video',
                'attr': {
                    'placeholder': 'Code source de la video...'
                }
            }) 
        }}

        <br>

        {{ form_row(form.date, {
            label: 'Date de sortie',
                'attr': {
                    'placeholder': 'Date de sortie...'
                }
            }) 
        }}

        <br>

        <button type="submit" class="btn btn-outline-success">
            Enregistrer les modifications
        </button>

    {{ form_end(form) }}
</section>


{% endblock %}
