{% extends 'front-layout.html.twig' %}

{% block body %}
    <h1> {{ title }} </h1>

    <section class="legends">
        {% for legend in legends %}
            <article style="display: inline-block; margin: 1%;">
                <div class="toast show" aria-live="assertive" aria-atomic="true">

                    <div class="toast-header">
                        <h4> <strong class="me-auto"> {{ legend.characters }} </strong> </h4>
                        <small>{{ legend.createdAt | date('d-m-Y') }}</small>
                    </div>

                    <div class="toast-body">
                        <p style="text-align: justify;"> {{ legend.content }} </p>
                    </div>

                    <div class="toast-footer" style="text-align: center;">
                        <img src="{{ legend.image }}" width="35%" heigth="auto">
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>


{% endblock %}